<!--
=====================================================
; Title: home.component.html
; Author: Lucas Hoffman
; Date January 21, 2022
; Description: Building a profile-app with components
=====================================================
*/-->

<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <!--Home-->
    <li class="navbar-item active">
      <a class="nav-link" href="#">Home</a>
    </li>

    <!--About-->
    <li class="navbar-item">
      <a class="nav-link" href="#">About</a>
    </li>

    <!--Contact-->
    <li class="navbar-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<!--Container with body elements-->
<div class="container" style="float: left">
  <br /><br />

  <!--Header referencing assignment title-->
  <h2> Exercise 3.3 - Passing Data to Routes, Part 2 </h2>

  <!--row-->
  <div class="row" *ngIf="isLoggedIn; else showError">

    <!--App-my-image left hand column-->
    <div class="col-sm-6">
      <app-my-image></app-my-image>
    </div>

    <!--App-my-details right hand column-->
    <div class="col-sm-6">
      <app-my-details></app-my-details>
    </div>
  </div>
  <!--row-->

   <ng-template #showError>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="alert alert-danger">
          You are not authorized to view this content
        </h4>
      </div>
    </div>
  </ng-template>


</div>
<!--container-->

