<!--
=====================================================
; Title: Assignment 2.4 - Routing in Action
; Author: Lucas Hoffman
; Date: January 16, 2022
; Description: About Page for assignment 2.4
=====================================================
*/-->

<div class="container">
  <br /><br />
  <div class="row">
    <!--Left-hand image section-->
    <div class="col-sm-5">
      <!--Image with caption-->
      <figure>
        <img src="../../assets/camille.jfif" alt="Camille Saint-Saëns" />
        <!--Caption of image containing URL-->
        <figcaption>
          <a href="https://www.pinterest.com/pin/341499584219474431/"
            >Photo of Camille Saint-Saëns </a
          >
        </figcaption>
      </figure>
    </div>
    <!--Right-hand column containing Bio-->
    <div class="col-sm-7">
      <!--Title for composer's bio-->
      <h3>Camille Saint-Saëns </h3>
      <br />
      <!--75 word bio-->
      <p>
        French composer Camille Saint-Saëns  was one of the most gifted polymaths in musical history.
        As well as being a composer, virtuoso pianist, organist, and conductor, he was multilingual, a
        consulted authority on literature and the arts in general, and a notable author and poet. If he
        were to ever get bored - he pursued archaeology and astronomy in his free time.
        He was also capable of sight reading pretty much anything, and works like Danse Macabre remain go-tos
        for music lovers and film scorers alike.

      </p>
      <br />
      <!--List of famous works-->
      <p>Works:</p>
      <ul>
        <li>Oratorido de Noel</li>
        <li>Suite for Cello and Piano</li>
        <li>Suite for Cello and Orchestra</li>
      </ul>
    </div>
  </div>
</div>
