<!--
=============================================
; Title: Assignment 2.4 - Routing in Action
; Author: Lucas Hoffman
; Date: January 16, 2022
; Description: Composer contact page for assignment 2.4
=============================================
*/-->

<!--Container with page elements-->
<div class="container">
  <br />
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <!--Title to contact Camille Saint-Saëns-->
      <h2>Contact Camille Saint-Saëns</h2>
    </div>
  </div>
  <!--Row for address and phone -->
  <div class="row">
    <!--Left-hand column with header and street address-->
    <div class="col-sm-6">
      <br />
      <br />
      <!--Home icon and address header-->

      <h1><i class="bi bi-telephone"></i></h1>
      <h4>Address Information</h4>
      <!--Address-->
      <ul>
        <li>
          Mailing Address: 69 Bells Ferry Drive<br />
          Paris, France
        </li>
        <li>E-mail: Camille.st.sa@fake.net</li>
        <li>
          <strong>Website: </strong
          ><a href="https://open.spotify.com/artist/436sYg6CZhNefQJogaXeK0">
            www.camillesaintsaens.com.com</a
          >
        </li>
      </ul>
    </div>
    <!--Right-hand column with header a phone number-->
    <div class="col-sm-6">
      <br /><br />
      <!--Phone icon and header for phone numbers-->

      <h1><i class="bi bi-telephone"></i></h1>
      <h4>Phone Numbers</h4>
      <!--List of phone numbers-->
      <ul>
        <li>Contact: (616) 123-1233</li>

      </ul>
    </div>
  </div>
</div>
