/**
 * Title: app.component.scss
 * Author: Lucas Hoffman
 * Date: Feb 4, 2022
 * Description: app.component.scss file for in-n-out-books
 */

 .logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
