<!--
; Title: sign-in.component.html
; Author: Lucas Hoffman
; Date: February 18, 2022
; Description: sign-in.component.html file for gpa-calculator-app
-->

<div fxLayout="column">
  <div fxFlex>
    <mat-card class="mat-elevation-z8 sign-in-container">
      <!--Card-title-->
      <mat-card-title> Student Sign In </mat-card-title>
      <!--Card subtitle-->
      <mat-card-subtitle>
        You must enter a valid student ID to proceed.
      </mat-card-subtitle>
      <!--Card content-->

      <mat-card-content>
        <div class="message-error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div *ngIf="form.studentId.errors && form.studentId.touched">
          <div class="msg-error">Student ID must be a numeric value.</div>
        </div>

        <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">
          <!--Form-->
          <form
            [formGroup]="signinForm"
            (ngSubmit)="onSubmit(); signinForm.reset()"
          >
            <mat-card-content>
              <!--Form-field-->
              <mat-form-field fxFlex appearance="fill">
                <mat-label for="txtStudentId" id="labelStudentId"
                  >Student ID</mat-label
                >
                <!--Input-->
                <input
                  type="text"
                  matInput
                  formControlName="studentId"
                  id="txtStudentId"
                  name="txtStudentId"
                />
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <!--Submit button-->
              <button type="submit" fxFlex mat-raised-button color="primary">
                Submit
              </button>
            </mat-card-actions>
          </form>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
