<!--
; Title: Assignment 6.2 - Input/Output Properties
; Author:
; Date: February 12, 2022
; Description: wishlist-create.component file for in-n-out-booksp4
-->

<form fxLayout="column" class="wishlist-create-form" style="width: 60%">
  <!--field for title-->
  <mat-form-field fxFlex appearance="fill">
    <!--Input with 'Title' label-->
    <mat-label>Title</mat-label>
    <!--ngModel to capture wishlistItem.title-->
    <input type="text" name="title" matInput [(ngModel)]="item.title" />
  </mat-form-field>

  <!--field for authors-->
  <mat-form-field fxFlex appearance="fill">
    <!--Input with 'Authors' label-->
    <mat-label>Authors</mat-label>
    <!--ngModel to capture wishlistItem.title-->
    <input type="text" name="authors" matInput [(ngModel)]="item.authors" />
  </mat-form-field>

  <button mat-button color="primary" (click)="addItem()">Add item</button>
</form>
