<!--
  *Title: book-details-dialog.component.html
  *Author: Lucas Hoffman
  *Date: Feb 5, 2022
  *Description: book-details-dialog.component.html file for in-n-out-books
-->

<div fxFlex>
  <mat-card>
    <!--Card-title with blue book title -->
    <mat-card-title class="blue"> {{ book.title }}</mat-card-title>
    <mat-card-content>
      <!--Column with paragraphs for values of book -->
      <div fxLayout="column" class="book-details">
        <p>ISBN: {{ book.isbn }}</p>
        <p>Title: {{ book.title }}</p>
        <p>
          Description:<br />
          {{ book.description }}
        </p>
        <p>Authors: {{ book.authors.join(",") }}</p>
      </div>
    </mat-card-content>
    <!-- Card-actions -->
    <mat-card-actions>
      <!-- button -->
      <button mat-raised-button color="accent" matDialogClose="confirm">
        OK
      </button>
    </mat-card-actions>
  </mat-card>
</div>


