<!--
=====================================================
; Title: Assignment 1.5 Components
; Author: Lucas Hoffman
; Date January 9, 2022
; Description: My details
=====================================================
*/-->

<!--Unordered list of favorites.-->
<ul class="list-group">
  <li class="list-group-item">
    <strong>Full Name:</strong> Lucas Hoffman
  </li>
  <li class="list-group-item">
    <strong>Favorite Food:</strong> Salmon
  </li>
  <li class="list-group-item"><strong>Favorite Color:</strong> Light Blue</li>
</ul>
